<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>oauth2server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
        </li>
    </ul>
    <div class="jumbotron">
        <h1>OAuth2 Provider</h1>
    </div>
    <h2>Create your application (client registration)</h2>
    <form action="#" th:action="@{/oauth2/clients/save}"
          th:object="${registry}"
          method="post">
        <div class="form-group">
            <label for="nome"><strong>Name:</strong></label> <input class="form-control"
                                                   id="name" type="text" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">application
                name</div>
        </div>
        <div class="form-group">
            <label for="redirectUri"><strong>Redirect URL:</strong></label> <input
                class="form-control" id="redirectUri" type="text"
                th:field="*{redirectUri}" />
            <div th:if="${#fields.hasErrors('redirectUri')}"
                 th:errors="*{redirectUri}">Callback URL to receive the
                authorization code</div>
        </div>
        <div class="form-group">
            <label for="email"><strong>Email:</strong></label> <input class="form-control"
                                                                    id="email" type="text" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}">application
                name</div>
        </div>
        <div class="form-group">
            <label for="nome"><strong>Authorization Grant Type:</strong></label><br>
            <ul style="">
                <li th:each="grant : ${grantTypes}">
                    <input type="checkbox" th:field="*{grantType}" th:value="${grant}" />
                    <label th:for="${#ids.prev('grantType')}"
                           th:text="${grant}">Heating</label>
                </li>
            </ul>

            <div class="form-check form-check-inline">

            </div>
            <div th:if="${#fields.hasErrors('grantType')}"
                 th:errors="*{redirectUri}">Check required</div>
        </div>

        <div class="form-group">
            <label for="nome"><strong>Scope</strong></label> <input class="form-control"
                                                                    id="scope" type="text" th:field="*{scope}" />
            <div th:if="${#fields.hasErrors('scope')}"
                 th:errors="*{scope}">application
                scope</div>
        </div>

        <div class="form-group">
            <label for="clientType"><strong>Type of application:</strong></label>
            <div>
                <select id="clientType" class="selectpicker"
                        th:field="*{clientType}">
                    <option value="PUBLIC">Public</option>
                    <option value="CONFIDENTIAL">Confidential</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"
                    type="submit">Register</button>
            <a th:href="@{/oauth2/clients/dashboard}" class="btn btn-default" type="button">Cancel</a>
        </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>